<div class="container mt-4" style="width: 50%" *ngIf="game">
  <div *ngIf="game.round.id > 1">
    <h4>Obtuviste {{ reward }} puntos</h4>
  </div>
  <form [formGroup]="questionForm" (ngSubmit)="validateAnswer()">
    <div class="card mt-4">
      <div class="card-header">{{ game.round.description }}</div>
      <div class="card-body" *ngIf="question">
        <h5>{{ question.description }}</h5>
        <div class="form-check" *ngFor="let ansOp of answerOptions">
          <input
            class="form-check-input"
            type="radio"
            formControlName="ansId"
            [id]="ansOp.id"
            [value]="ansOp.id"
          />
          <label class="form-check-label" [for]="ansOp.id">
            {{ ansOp?.description }}
          </label>
        </div>
        <div class="mt-3">
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            [disabled]="questionForm.invalid"
          >
            Continuar</button
          >&nbsp;
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="finishGame()"
          >
            Terminar
          </button>
        </div>
      </div>
      <div class="card-footer">Jugador: {{ game.player.name }}</div>
      <div class="card-footer">Acumulado {{ game.accumulated }}</div>
    </div>
  </form>
</div>
